.p-container {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
}

.p-section {
    padding-top: 50px;
    padding-bottom: 50px;
    &:nth-child(2n) {
        // background-color: $deepdark;
        background: $gradient1;
    }
}