$black: #000;
$white: #fff;
$dark: #333;
$deepdark: #111;
$gray: #6B6B6B;
$textlight: #a5a5a5;
$gradient: linear-gradient(90deg, #C33764, #3341c1);
$gradient1: radial-gradient(circle at 10% 20%, rgb(10, 10, 10) 5%, rgb(22, 22, 22) 90.2%);
$btn: #D9D9D9;